<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control de productos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Control de productos</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/nuevo">Agregar producto</a>
            </li>

        </ul>
    </div>
</nav>


<div class="container text-center my-4 ">
    <form class="form-inline" th:Action="@{/}">
    <div class="form-group mb-2">
<label>Filtrar </label>
    </div>
        <div class="form-group mx-sm-3 mb-2 my-2">
<input type="text" name="palabraClave" class="form-control" id="palabraClave" th:value="${palabraClave}" placeholder="Busqueda">
        </div>
        <input type="submit" class="btn btn-info mb-2" value="Buscar">
        &nbsp;&nbsp;
        <input type="button" class="btn btn-secondary mb-2" value="Limpiar" onclick="limpiarCampos()" >
    </form>
    <table class="table border">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Hecho en </th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${listaProductos}">

            <td th:text="${producto.id}"></td>
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.marca}"></td>
            <td th:text="${producto.hechoEn}"></td>
            <td th:text="${producto.precio}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/editar/' + ${producto.id}}"> Editar</a>
                &nbsp;
                <a class="btn btn-danger" th:href="@{'/eliminar/' + ${producto.id}}"> Eliminar</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<script type="text/javascript">
    function limpiarCampos(){
    window.location='/';
    }
</script>

</body>
</html>