
*{
  padding:0px;
  margin: 0px;
}

@font-face {
  font-family: ShadowsIntoLightTwo;
  src: local(ShadowsIntoLightTwo-Regular),
    url(/path/to/ShadowsIntoLightTwo-Regular.woff2) format("woff2"),
    url(/path/to/ShadowsIntoLightTwo-Regular.woff) format("woff"),
    url(/path/to/ShadowsIntoLightTwo-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

/* Estilos para dispositivos de escritorio */
@media screen and (min-width: 768px) {
 



body {
  color: transparent;
  min-height: 100vh;
  
}


.home{
  display: flex;
  flex:wrap;
}

#mainImg {
  position: absolute;
  width: 971px;
  height: 887px;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index:  1;
} 

.navbar-toggler{
  color: white !important;
}

.navbar-toggler-icon {
  background-image:url(/img/bars-staggered-solid.svg)
}


.Text-Style {
    font-family: ShadowsIntoLightTwo;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: center;
    color: #af9d90;
}


.Rectangle {
    width: 1440px;
    height: 70px;
    margin: 0 0 13px;
    padding: 10px 15px 20px 908px;
    background-color: #fff;
    position: relative;
    left: -97px;
  }

  .Social {
    width: 172px;
    height: 28px;
    margin: 1px 15px 1px 0;
    object-fit: contain;
  }

  .Line-2-Copy {
    width: 1px;
    height: 30px;
    margin: 0 14px 0 15px;
    border: solid 1px #ca1d1d;
  }

  .Line-2 {
    width: 1px;
    height: 30px;
    margin: 0 21px 0 10px;
    border: solid 1px #ca1d1d;
  }

  .search {
    width: 25px;
    height: 25px;
    margin: 3px 10px 2px 14px;
    object-fit: contain;
  }

  .Group-6 {
    width: 26px;
    height: 26px;
    margin: 0 10px 0 0;
    object-fit: contain;
  }

  .Language {
    width: 74px;
    height: 24px;
    margin: 1px 7px 1px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #e20019;
  }

  .icon_Arrow {
    width: 16px;
    height: 15px;
    margin: 2px 0 7px;
    object-fit: contain;
   
  }
  

.box-menu{
  align-content: center !important;
  display: flex !important;
  flex-wrap: wrap !important;
  margin: 13px 137px 50px 136px;
  object-fit: contain;
  
}

.font-box-menu{
  font-family: 'Roboto', sans-serif;
}

::placeholder {
  color:white !important;
}

.Hero {
  width: 971px;
  height: 887px;
  margin: 50px 234px 73px 235px;
  padding: 317px 337px 87px 0;
  object-fit: contain;
}

.text-color{
 color: #e20714;
 text-size-adjust: 2000px ;
}

.Try-it {
  width: 126px;
  height: 32px;
  margin: 24px 25px 73px 357px;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #af9d90;
}

.Scroll-down {
  width: 126px;
  height: 32px;
  margin: 24px 0 73px 13px;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #af9d90;
}

.position-try{
  position: absolute;
  top: 500px;
  left: 310px;
}
.Rectangle-Copy-7 {
  width: 1440px;
  height: 600px;
  background-color: #f5efdd;
 align-items: center !important;
  
}

.Rectangle-red {
  width: 1440px;
  height: 920px;
  padding: 417px 435px 69px 235px;
  background-color: #e20019;
}

.position-hero{
  position: relative;
  top: -630px;
  
}
.Font-Monserrat{
  font-family: 'Montserrat', sans-serif;
  
}
.cant{
  position: relative;
  top:20px;
}

.Photo1 {
  width: 475px;
  height: 475px;
  margin: 910px 25px 32px 232px;
  object-fit: contain;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  top: -1440px;
  left:-220px;
  z-index: 1;
  overflow: hidden;
}
.Photo1:hover{
  transform: scale(1.1);
}
.Photo1:hover{
  transition: all 2s;
  cursor:pointer;
}

.Photo2 {
  width: 475px;
  height: 475px;
  margin: 73px 233px 541px 25px;
  object-fit: contain;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  top: -1955px;
  left:480px;
  z-index: 1;
}
.Photo2:hover{
  transform: scale(1.1);
}
.Photo2:hover{
  transition: all 2s;
  cursor:pointer;
}
.Crunchy-outside-Cre {
  width: 377px;
  height: 240px;
  margin: 0 0 20px;
  object-fit: contain;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #fff;
  position: relative;
  top: -2460px;
  left:20px;
}

.Rectangle-Crunchy {
  width: 1440px;
  height: 900px;
  margin: 0 0 67px;
  padding: 417px 435px 69px 235px; 
  position: relative;
  top: -2870px;
  left:-210px;
  color: #fff;
 
}

.Bitmap {
  margin: 32px 339px 403px 118px;
  padding: 150px 18px 621px 101px;
  object-fit: contain;
  position: relative;
  top: -3880px;
  left:200px;
  color: #fff;
 
}

.Click-here {
  width: 143px;
  height: 30px;
  transform: rotate(20deg);
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  z-index: 1;
  overflow: hidden;
}
.Click-here:hover{
  transform: scale(1.1);
}
.Click-here:hover{
  transition: all 2s;
  cursor:pointer;
}

.position-click-here{
  position: absolute;
  top: 1880px;
  left: 720px;

}

.Tap-Here {
  width: 834px;
  height: 780px;
  margin: 33px 0 1px 336px;
  padding: 193px 135px 163px 156px;
  object-fit: contain;
 
  position: absolute;
  top: 810px;
  left: 30px;

}

.nocciola_04 {
  width: 104px;
  height: 125px;
  margin: 842px 668px 0;
  object-fit: contain;
  position: absolute;
  top: 620px;
  left: 10px;
  overflow: hidden;
}
.nocciola_04:hover{
  transform: scale(1.1);
}
.nocciola_04:hover{
  transition: transform 0.2s;
  cursor:pointer;
}


.Ready-for-the-first {
  width: 157px;
  height: 64px;
  transform: rotate(19deg);
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: white;
  z-index: 1;
  position: absolute;
  top: 1098px;
  left: 850px;
}

.Your-day-a-bit-unste {
  width: 706px;
  height: 96px;
  
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #e20019;
}


.Only-B-ready-combine {
  width: 771px;
  height: 66px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center !important;
  color: #303030;
}
.Nutella_B-Ready {
  width: 970px;
  height: 296px;
  object-fit: contain;
}

.img-nutella-position{
  position: absolute;
  top: 2400px;
  left: 180px;
}


.Always-carry-it-with {
  width: 155px;
  height: 64px;
 
  transform: rotate(-7deg);
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center!important;
  color: #5f3b22;
  position: absolute;
  top: 2640px;
  left: 800px;
}
.Rectangle-nutella-pack{
  width: 1440px;
  height: 600px;
  margin: 76px 0 0;
  background-color: #f5efdd;
}

.Different-pack-sizes {
  width: 373px;
  height: 240px;
 
  font-family: Montserrat;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #5f3b22;
  padding-top: 20px;
}

.Nutella-B-ready-is {
  width: 373px;
  height: 88px;
  margin: 18px 0 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #303030;
  position: relative;
  left:180px ;
}
.pack-6 {
  width: 897px;
  height: 790px;
  margin: 0 32px 19px 0;
  padding: 5px 378px 176px 17px;
  object-fit: contain;
  position:absolute;
  top: 2730px;
  left:660px ;

}

.Discover-all-formats {
  
  margin: 0 0 116px;
  transform: rotate(-15deg);
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #5f3b22;
  position:absolute;
  top: 2850px;
  left: 800px;
  z-index: 1;
}

.container-slide{
width: 30%;
height: 30%;
display: flex;
justify-content: center;
position:absolute;
top: 2840px;
left:860px ;
}
.carousel-control-next-icon {
  background-image: url("./img/arrow.png");
  width: 17px;
  height: 29px;
  margin: 185px 0 195px 32px;
  object-fit: contain;
}
.carousel-control-prev-icon {
  background-image: url("./img/arrow1.png");
  width: 17px;
  height: 29px;
  object-fit: contain;
  
}

.carousel-control-prev{
  position:absolute;
  top: -100px;
  left: 50px;
}

.carousel-control-next{
  position:absolute;
  top: -100px;
  left: 500px;
}

.btn-shop{
  background-color:#e20714;
  color:white;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left: 240px;
  width: 160px; 
  overflow: hidden;
}
.btn-shop:hover{
  transform:scaleY(1.1);
}
.btn-shop:hover{
  transition: transform 0.2s;
  cursor:pointer;
}


.Nutella-B-Ready-mul {
  width: 300px;
  height: 32px;
  margin: 19px 68px 20px 161px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #5f3b22;
  position: relative;
  left:20px;
}

.Rectangle-brown {
  width: 1440px;
  height: 260px;
  padding: 40px 235px  236px;
  background-color: #5f3b22;
}

.Ingredients {
  width: 291px;
  height: 96px;
  margin: 0 339px 13px;
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.Sugar-Palm-oil-Haz {
  width: 969px;
  height: 44px;
  margin: 30px 0 0;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.Sugar-Palm-oil-Haz .text-style-1 {
  font-weight: bold;
  color: #e20019;
 
}

.Rectangle-Copy-5 {
  width: 1440px;
  height: 600px;
  background-color: #f5efdd;
}
img.B-ready {
  width: 420px;
  height: 350px;
  margin: 48px 509px 0 511px;
  object-fit: contain;
  position: relative;
  left:-240px;
  top: -145px;
}

.Nutritional-informat {
  width: 870px;
  height: 58px;
  margin: 0 149px 2px;
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #5f3b22;
}

.Assunzioni-di-rifer {


  font-family: 'Montserrat';
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #5f3b22;
}

.Rectangle-table-1{
  width: 372px;
  height: 340px;
  padding: 23px 22px 13px 20px;
  border-radius: 20px;
  border: solid 1px #5f3b22;
  font-family: 'Montserrat';
}
.Typical-values-per-1 {
  width: 191px;
  height: 14px;
  margin: 0 81px 10px 9px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  color: #5f3b22;
}

.Energy-kJ-Energy- {
  width: 151px;
  height: 280px;
  margin: 10px 121px 0 9px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #303030;
}
.Energy-kJ-Energy- .text-style-1 {
  font-size: 12px;
  font-weight: normal;
}

.Line-9-Copy-10 {
  width: 330px;
  height: 1px;
  opacity: 0.3;
  border: solid 1px #303030;
}

.number{
  width: 40px;
  height: 280px;
  margin: 15px 10px 0 98px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.6;
  letter-spacing: normal;
  text-align: right;
  color: #303030;
  position: relative;
  
  top: -333px;
}

.position-table{
  position: relative;
  top: 100px;
}

.position-nutritional{
  position: relative;
  top: 100px;
}

.table1{
  position: relative;
  left: 50px;
}

.table3{
  position: relative;
  left:-50px;
}

.Container-red-cards {
  width: 1440px;
  height: 304px;
  margin: 0 0 16px;
  padding: 41px 347px 184px 346px;
  background-color: #e20019;
}

.Bitmap-Copy-14 {
 
  
  margin: 0 0 22px;
  object-fit: contain;
}

.Bitmap-Copy-3 {
  width: 170px;
  height: 183px;
  margin: 0 0 22px;
  object-fit: contain;

 
}
.Bitmap-Copy-6 {
  width: 170px;
  height: 183px;
  margin: 0 0 22px;
  object-fit: contain;
  
  
}
.Bitmap-Copy {
  width: 170px;
  height: 183px;
  margin: 0 0 22px;
  object-fit: contain;
}

.Bitmap-Copy-2 {
  width: 170px;
  height: 183px;
  margin: 0 0 22px;
  object-fit: contain;
  
  
}

.Bitmap-Copy-27 {
  width: 170px;
  height: 183px;
  margin: 0 0 22px;
  object-fit: contain;
}
.Bitmap-Copy-28 {
  width: 170px;
  height: 183px;
  margin: 0 3px 20px 0;
  object-fit: contain;
}


.all_Ingredients {
  width: 1512px;
  height: 558px;
  margin: 0 0 219px;
  position: relative;
  left: -390px;
}

.The-Nutella-sugar {
  width: 170px;
  height: 44px;
  margin: 22px 0 ;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #000;
}
.Line-3 {
  width: 1px;
  height: 110px;
  margin: 16px 14px 41px 15px;
  opacity: 0.32;
  border: solid 2px #8c8c8c;
  position: relative;
  left: 167px;
  top: -130px;
}


.carousel .carousel-indicators button {
  width: 300px;
  height: 15px;
  margin: 49px 0 ;
  border-radius: 10px;
  background-color: #5f3b22;
  position: relative;
  top:-190px ;
  left: -500px;
}

.btn-view-ingredients {
  width: 260px;
  height: 51px;
  position: relative;
  top: 230px;
 left: -80px;
 overflow: hidden;
}
.btn-view-ingredients:hover{
  transform:scaleY(1.1);
}
.btn-view-ingredients:hover{
  transition: transform 0.2s;
  cursor:pointer;
}

.Container-one-love-red{
  width: 1440px;
  height: 200px;
  margin: 170px 0 0;
  padding: 44px 380px 106px 931px;
  background-color: #e20019;
  position: relative;
  top: -295px;
 
}



.Nutella-text{
  color: white !important;
  z-index: 1;
  font-family: 'Montserrat';
  position: relative;
  top: 210px;
  left: -350px;
  font-size: 18px;
}

.One-love-many-optio {
  width: 372px;
  height: 191px;
  margin: 20px 0 0;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #e20019;
  position: relative;
  left:465px;
  top: -260px;
}

.PRODUCTS {
  width: 219px;
  height: 22px;
  margin: 0 153px 189px 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #5f3b22;
  position: relative;
  left:840px;
  top: -270px;
}

/* Swiper*/

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-boxcard{
  position:relative;
  top: 250px;
  left: -700px;

}


.img-sizebox{
  width: 475px;
  height: 475px
}



:root {
  --swiper-theme-color: red;
  --swiper-navigation-size: 50px;
}

.Nutella_B-ready {
 
  background-color: #fff;
  position: relative;
  top: -300px;
  left: 30px;
}
.btn_arrow-copy {
  width: 129px;
  height: 50px;
  object-fit: contain;
  z-index: 1;
  position: relative;
  top: -790px;
  left: -280px;
}
.There-is-still-a-lot {
  width: 450px;
  height: 22px;
  margin: 0 330px 40px;
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.73;
  letter-spacing: normal;
  text-align: center;
  color: #5f3b22;
  position: relative;
  left: 120px;
}
.Container-Copy-nutella {
  margin: 40px 30px 0 0;
  object-fit: contain;
  position: relative;
  left: 120px;
}

.Container-Copy-pane{
  margin: 40px 30px 0;
  object-fit: contain;
}
.Container-Copy-22{
  margin: 40px 0 0 30px;
  object-fit: contain;
  position: relative;
  left: -90px;
}


.INSIDE-NUTELLA {
  width: 239px;
  height: 16px;
  margin: 0 11px 10px 10px;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: 1.13px;
  text-align: center;
  color: #fff;
  z-index: 1;
  position: relative;
  top: -350px;
  left: 190px;
}

.Nutella-from-inside {
  width: 260px;
  height: 140px;
  margin: 10px 0 58px;
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  position: relative;
  left: 190px;
  top: -355px;
}

.btn-copy-2 {
  object-fit: contain;
  position: relative;
  top: -360px;
  left: 170px;
  overflow: hidden;
}
.btn-copy-2:hover{
  transform:scaleY(1.1);
}
.btn-copy-2:hover{
  transition: transform 0.2s;
  cursor:pointer;
}


.GET-INSPIRED {
  width: 267px;
  height: 16px;
  margin: 0 12px 10px 11px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: 1.13px;
  text-align: center;
  color: #fff;
  position: relative;
  top: -348px;
  left: 70px;
}

.Spread-creativity-wi {
  width: 290px;
  height: 140px;
  margin: 10px 0 58px;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  position: relative;
  top: -355px;
  left: 70px;
}


.btn-copy-3 {
  object-fit: contain;
  position: relative;
  top: -360px;
  left: -20px;
  overflow: hidden;
}
.btn-copy-3:hover{
  transform:scaleY(1.1);
}
.btn-copy-3:hover{
  transition: transform 0.2s;
  cursor:pointer;
}

.DISCOVER-THE-NEWS {
  width: 293px;
  height: 16px;
  margin: 0 0 10px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: 1.13px;
  text-align: center;
  color: #fff;
  position: relative;
  top: -390px;
  left: -20px;
}

.Lets-celebrate-with {
  width: 293px;
  height: 140px;
  margin: 10px 0 58px;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  position: relative;
  top: -390px;
  left: -25px;
}

.btn-copy-4 {
  object-fit: contain;
  position: relative;
  top: -415px;
  left: -110px;
  overflow: hidden;
}
.btn-copy-4:hover{
  transform:scaleY(1.1);
}
.btn-copy-4:hover{
  transition: transform 0.2s;
  cursor:pointer;
}

.Footer_Desktop {
  
  position: relative;
  top: -580px;
  left: 440px;

}
.footer {
 
  object-fit: contain;
  position: relative;
  left:-427px ;
  top: 20px;
}

.btn-View-ingredients {
  width: 260px;
  height: 51px;
  margin: 30px 68px 0;
  object-fit: contain;
  background-color: #e02020;
  color: white;
 
}
}
